
.all {
	width: 500px;
	height: 450px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44,62,80,0.7);
	border-radius: 6px;
	margin-top: 160px;


}

input {
	margin-top: 30px;
	width: 300px;
	height: 30px;

}

body{
	margin :0 auto;
	background-image:url("login.png");
	background-repeat:no-repeat;
	background-size: 100% 720px;
	
}
div.frm{

	padding-top: 0px;

}
form{
	padding-top: 50px;
}
h1{
	font-size: 40px;
	color:white;
}